<html>
    <head>
        <style>
            .menu{
               
            
                background-color:skyblue;
                text-transform: uppercase;
                font-size: 10px;
                 display: flex;
                 padding:2px;
            
                justify-content: center;
         
            
            }
            h1{
                padding: 20px;
            
            }
            .button{

             margin-left: 50%;   
            }
        </style>
    </head>
    <body>
        <div class="menu">
            <h1><a href="/">Home</a></h1>
        <h1><a href="music" >music</a></h1>
        
        <h1><a href="name">name</a></h1>
        <h1> <a href="contact">contact</a></h1>
        <h1><a href="about">about</a></h1> 
        <button class="button">"sign in"</button></div>

    </body>

</html>